<%= form_for(task) do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>

  <%= t.label :details %>
  <%= t.text_field :details %>

  <% unless t.object.new_record?() %>
  <label><%= t.check_box :completed %>Completed</label>
  <% end %>

  <%= t.submit %>

<% end %>
